.Pregunta__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 4rem;
}

.Pregunta__main h3{
    width: 80%;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: $color;
}

.Pregunta__main ul{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.Pregunta__main ul li{
    margin-left: 10rem;
    height: 5rem;
    padding: 1rem;
    font-size: 1.8rem;
    list-style: none;
    margin: 1rem;
    cursor: pointer;
    color: $color;
    width: 35rem;
    text-align: center;
    margin-left: 12.5%;
    @extend .flex-center;
}