.Home__main{
    color: $color;
    @extend .flex-center;
    justify-content: flex-start;
    height: 100vh;
}

.Home__content{
    @extend .flex-center;
    height: 100vh;
}

.Home__content h1{
    @extend .title;
    margin-top: -6rem;
    margin-bottom: 3rem;
}

.Home__content p{
    width: 75%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3rem;
}

.Home__content a{
    @extend .link;
    color: $color;
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
}
